<!-- your html code here -->
<div class="container-fluid bg-white px-5">
    <h1>Contact</h1>
    <p>Donec ullamcorper nulla non metus auctoe fringilla.Vestibulum id ligula porta felis euismod semper.Praesent commondo cursus magna,vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commondo.</p>
    <form style="display:d-flex; justify-content: center; background-color: #f7f7f9; margin-left: 25%; margin-right: 20%; padding-top: 0.5; padding-left: 5%; padding-right: 0.5%; padding-bottom: 2%; box-sizing: border-box;">
        <div class="row">
            <div class="col-4 text-end mt-2"><label for="email">Your E-mail</label></div>
            <div class="col-8  mt-2"><input type="email" id="email" placeholder="Your email"></div>
        </div>

        <div class="row">
            <div class="col-4 text-end mt-2"><label for="exampleFormControlTextarea1">Your message</label></div>
            <div class="col-8  mt-2"><textarea class="form-control" id="exampleFormControlTextarea1" rows="3" cols="1" style="padding: 0px;border:groove" placeholder="Please enter your message here..."></textarea></div>
        </div>

        <div class="row">
            <div class="col mt-2" style="text-align: end;"><input type="button" id="submit" value="submit" class="btn btn-primary"></div>
        </div>
    </form>
</div>

