<footer>
    <div class="row footer-row">
        <div class="col-lg-12">
            <p class="footer-text">Copyright &copy; Your Website 2014</p>
            <style type="text/css">
                .footer-row {
                    background-color: white;
                    padding:0 0 30px 80px;
                }
                .footer-text {
                    font-size: 12px;
                    font-weight: 600;
                    color:rgb(55, 39, 39);
                }
            </style>
        </div>
    </div>
</footer>
